body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.launcher {

}

.launcher li {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
}

.launcher a {
  padding-top: 5px;
  width: 100px;
  height: 100px;
  display: block;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.launcher a.active {
  box-shadow: 0px 0px 6px #0088cc;
}

.launcher a:hover {
  text-decoration: none;
}

.launcher p {
  margin-top: 10px;
}

.launcher li {
  list-style: none;
  margin: none;
  padding: none;
}

.launcher li img {
  height: 64px;
  width: 64px;
}